basicsr
diffusers
fairscale==0.4.4
fonts
font-roboto
gfpgan
gradio
invisible-watermark
numpy
omegaconf
piexif
Pillow
pytorch_lightning
realesrgan
scikit-image>=0.19
git+https://github.com/TencentARC/GFPGAN.git
timm==0.4.12
transformers
torch
einops
jsonmerge
clean-fid
git+https://github.com/openai/CLIP
resize-right
torchdiffeq
kornia
